.box {
    margin: auto auto;
}
.container {
    margin: 50px auto;
}
body {
    background-color: rgb(31, 30, 30);
}

.bloque{
    background-image: url(img/photo-1593698054469-2bb6fdf4b512.jpeg);
    padding: 0;
    margin: 0;
    border: 0;
}

.derecha {
    background-color: rgb(247, 247, 247);
}
#logo{
    margin:50px;
}

#usuario{
    margin: auto auto;
    width: auto;
}

#clave{
    margin: auto auto;
    width: auto;
}
.boton {
    padding: 5px;
    background-color: rgb(73, 72, 72);
    color: honeydew;  
}
.boton:hover {
    background-color: rgb(36, 35, 35);
}
a{
    color: rgb(37, 106, 196);
    text-decoration: none;
}