body{
    background-image: url('img/5449.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: inherit;
    background-size: cover;
}

footer{
    background-color: rgb(165, 46, 129);
    width: auto;
    height: auto;
    margin: 0;
    padding: 15px;
}

footer p{
    font-size: 20px;
    text-align: center;
    color: white;
}


header{
    background-color: rgb(165, 46, 129);
    box-shadow: 1px 1px 1px 1px rgba(255, 255, 255, 0.192);
    width: auto;
    height: auto;
}

.foto{
    width: 400px;
    height: 400px;
}

.blackhole{
    width: auto;
    height: auto;
}
.texto{
    color: white;
    font-size: 18x;
}

.fondo{
    background-color: rgba(97, 19, 55, 0.562);
    box-shadow: -5px 4px 4px 3px rgba(0, 0, 0, 0.685);
}

.logo {
    float: left;
    width: 70px;
    height: 70px;
}
.expand{
    
    padding: 0;
}
