body{
    background-image: url('img/5449.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: inherit;
    background-size: cover;
}

footer{
    background-color: rgb(165, 46, 129);
    width: auto;
    height: auto;
    margin: 0;
    padding: 15px;
}

footer p{
    font-size: 20px;
    text-align: center;
}


header{
    background-color: rgb(165, 46, 129);
}

.foto{
    width: 400px;
    height: 400px;
}

.blackhole{
    width: 300px;
    height: 300px;
}
.texto{
    color: white;
}

.fondo{
    background-color: rgba(97, 19, 55, 0.562);
}

.logo {
    float: left;
    width: 70px;
    height: 70px;
}
.expand{
    
    padding: 0;
}

